body{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0 auto;
    align-content: center;
}


.Header{
    position: absolute;
    font-family: cursive;
    font-weight: bold;
    font-size: 2vh;
    color: white;
    height: 12%;
    width: 100%;
    background: #494a6b;
    text-align: center;
}


.Subtitle{
    position: relative;
    text-align: center;
    top: 12%;
    font-family: cursive;
    font-weight: bold;
    font-size: 2vh;
}


.Footer{
    position: absolute;
    bottom: 0;
    background: #494a6b;
    height: 12%;
    width: 100%;
    text-align: center;
    color: white;
}

.Form{
    position: relative;
    top: 18%;
    height: auto;
    width: auto;
    margin: 0 auto;
    color: white;
}

.Form form, .NumberInput, .NumberInput2, .button{
    text-align: center;
    margin: 0 auto;
    height: auto;
    width: 40%;
    background: lightgreen;
    border-radius: 9999em;
    padding: 5px;
}



.NumberInput{
    display: block;
    background: white;
}

.NumberInput2{
    display: inline-block;
    background: white;
}
.button{
    display: block;
    background: white;
    width: 20%;
}


img{
    width: 30px;
    height: 30px;
}
#linkedIn{
    width: 35px;
    height: 30px;
}
.social{
    transition-duration: 0.7s;
    background-color: transparent;
    border: transparent;
    border-radius: 9999em;
    margin-top: 0;
}
.links{
    position: relative;
    display: inline-block;
}
